**In this script, we:**
1. connect colab to google drive
2. read a file from github as a raw file, intro a pandas data frame
3. summarize that data
4. read a file from google driver into a separate pandas data frame
This was my very first script!

In [19]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# Read file from github as a raw file and write it to a location in google drive

In [23]:
import pandas as pd
ChicagoData = pd.read_csv('https://raw.githubusercontent.com/menonpg/covid19_Chicago/master/timeSeries_COVID19_Chicago.csv')
ChicagoData.to_csv('/content/drive/My Drive/MyNotebooks/test.csv', index=False)

# Summarize above data

In [21]:
print("Min values by column \n" + str(ChicagoData.aggregate('min')) + "\n")
print("Min values by column \n" + str(ChicagoData.aggregate('max')))

Min values by column
Cases            598
Deaths             4
Date      2020-03-24
dtype: object

Min values by column
Cases          52813
Deaths          2623
Date      2020-07-02
dtype: object

#Read file from Google Drive

In [22]:
ChicagoData_fromDrive = pd.read_csv('/content/drive/My Drive/timeSeries_COVID19_Chicago.csv')
ChicagoData_fromDrive.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 94 entries, 0 to 93
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Cases   94 non-null     int64
 1   Deaths  94 non-null     int64
 2   Date    94 non-null     object
dtypes: int64(2), object(1)
memory usage: 2.3+ KB

In [26]:
testData = pd.read_csv("https://raw.githubusercontent.com/menonpg/COVID19_PA/master/timeSeries_COVID19_Cases_PACounties.csv")
testData

          County  2020-03-19  2020-03-20  ...  2020-06-30  2020-07-01  2020-07-02
0          Adams         NaN         1.0  ...       339.0       341.0       342.0
1      Allegheny        11.0        16.0  ...      2760.0      2870.0      3103.0
2      Armstrong         NaN         NaN  ...        74.0        76.0        77.0
3         Beaver         2.0         2.0  ...       669.0       678.0       688.0
4        Bedford         NaN         NaN  ...        82.0        87.0        88.0
..           ...         ...         ...  ...         ...         ...         ...
64         Wayne         1.0         1.0  ...       140.0       140.0       140.0
65  Westmoreland         NaN         2.0  ...       646.0       675.0       711.0
66       Wyoming         NaN         NaN  ...        38.0        38.0        38.0
67          York         2.0         2.0  ...      1515.0      1531.0      1555.0
68  York<U+00A0>         NaN         NaN  ...         NaN         NaN         NaN

[69 rows x 107 columns]